{% extends 'base.html' %}

{% block content %}
   <h1>About</h1>
    <div class="page-text-wrapper">
        <p class="page-text">
            Hi, I'm a backend engineer with experience around event-driven architectures and message queues.
            I worked for Atlassian for a little under 3 years before I decided I needed to take an extended break.
            After on and off traveling for 3 months, I've started my search for my next role. I am targeting small
            companies with opportunities where I can make an impact.
        </p>
        <p class="page-text">
            My links and resume are located at the top right of my site. Please reach out if you would like to learn more about me.
        </p>
    </div>

{% endblock %}