{% extends 'base.html' %}

{% block content %}
   <h1>About</h1>
    <div class="page-text-wrapper">
        <p class="page-text">
            Hi, I'm a backend engineer with experience around event-driven architectures and message queues.
            I have 3 years of experience combined from Atlassian and DriveWealth. Although my experience has been
            in devloper tech and fintech, I am open to exploring more outside of my domain spaces.
        </p>
        <p class="page-text">
            My links and resume are located at the top right of my site. Please reach out if you would like to learn more about me.
        </p>
    </div>

{% endblock %}
